@{
    ViewBag.Title = "Settings";
}

<div id="settings" class="settings">
    <form id="SettingsForm" method="POST" asp-action="Save" class="ui form"></form>
    <div class="ui form">
        <div asp-validation-summary="All"></div>
        <div class="settingname">
            <h3>Настройки хранилища</h3>
        </div>
        <div class="field">
            <label for="Dir">Путь к хранлищу</label>
            <input form="SettingsForm" name="Dir" value="@Model?.Dir" />
        </div>
        <div class="field">
            <label for="User">Пользователь хранилища</label>
            <input form="SettingsForm" name="User" value="@Model?.User" />
        </div>
        <div class="field">
            <label for="Password">Пароль хранилища</label>
            <input form="SettingsForm" name="Password" value="@Model?.Password" />
        </div>
        <div class="settingname">
            <h3>Настройки Gitlab</h3>
        </div>
        <div class="field">
            <label for="PrivateToken">Персональный токен</label>
            <input form="SettingsForm" name="PrivateToken" value="@Model?.PrivateToken" />
        </div>
        <div class="settingname">
            <h3>Настройки Git репозитория</h3>
        </div>
        <div class="field">
            <label for="Url">URL git репозитория</label>
            <input form="SettingsForm" name="Url" value="@Model?.Url" />
        </div>
        <div class="field">
            <label for="SSHkey">SSH ключ</label>
            <textarea form="SettingsForm" name="SSHkey" cols="50" rows="10">@Model?.SSHkey</textarea></p>
        </div>
    </div>
    <div class = "actions">
        <div class = "button formbutton">
            <form method="GET" asp-action="Generatessh">
                <button class="ui primary button" type="submit">Сгенерировать SSH ключ</button>
            </form>
        </div>
        <div class = "button formbutton formright">
            <button form="SettingsForm" class="ui primary button" type="submit">Сохранить</button>
        </div>
    </div>
    
    
</div>